body {
  background: rgb(3, 3, 49);
  font: normal 15pt arial;
}

header {
  color: rgb(218, 218, 8);
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

div {
  text-align: center;
  padding: 8px;
}

footer {
  color: rgb(218, 218, 8);
  text-align: center;
  font-style: italic;
}

#link{
  color: rgb(218, 218, 8);
}